@import url('https://fonts.googleapis.com/css?family=Roboto:100,200,300,400,500,600,700,800,900|Exo:100,200,300,400,500,600,700,800,900|Neucha:100,200,300,400,500,600,700,800,900');

/*------------------------------Header*/

header {
    padding: 0;
}

.logo-home {
    padding: 0;
    margin: 0;
    min-height: 240px;
    background-image: url("../assets/images/logo-home.jpg");
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;

}

.menu-item {
    height: 80px;
    text-align: center;
    padding: 0;
    margin: 0;
}

.padding-menu li {
    padding: 0;
}


.menu-item a {
    text-decoration: none;
    color: #ffffff;
    width: 100%;
    height: 80px;
    padding: 0;
}

.menu-item span {
    display: block;
    width: 100%;
    padding-top: 25px;
    text-align: center;
    font-family: "Exo",sans-serif;
}


#nav {
    padding: 0;
    margin: 0;
}




/*------------------------------Logo*/

.logo {
    padding: 0;
    margin: 0;
    min-height: 720px;
    background-image: url("../assets/images/monkees.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

}

.logo p {
    text-align: center;
    font-family: Neucha, cursive;
    font-size: 100px;
    font-weight: 900;
    min-height: 720px;
    width: 100%;
    padding-top: 650px;
    color: #d4d8db;
    letter-spacing: 10px;
    
}



/*------------------------------background color*/

.ui-bgcolor-member {
    background-color: #2c2d2d;
}

.ui-bgcolor-photos {
    background-color: #383a3a;
}

.ui-bgcolor-track {
    background-color: #4a4f4f;
}

.ui-bgcolor-events {
    background-color: #596060;
}


/*------------------------------footer*/

footer {
    padding: 0;
    min-height: 120px;
    color:#fafafa;
    margin: 0;
    background-color: #383a3a;
}


/*------------------------------hover*/


.social-links li a i:hover  {
    color:#f97b0c;
}

.hover-menu:hover {
    background: #ef8821;
    transition: 0.5s;
}

/*------------------------------text style*/

.uppercase {
    text-transform: uppercase;
    font-weight: 300;
    letter-spacing: 2px;
}

.general-sub {
    width: 100%;
    text-align: center;
    padding-top: 30px;
    font-family: "Exo", sans-serif;
}

.social-links {
    padding-bottom: 12px;
    text-align: center
}

.social-links li a i {
    color: #fafafa;
    width: 35px;
    height: 35px;
    padding-top: 12px;
    border-radius: 50%;
    text-align: center;
    background: #8f8f8f;
    transition: all 0.35s ease-in-out;
    -moz-transition: all 0.35s ease-in-out;
    -webkit-transition: all 0.35s ease-in-out;
    -o-transition: all 0.35s ease-in-out;
}

.text-description {
    font-family:"Exo",sans-serif;
    font-weight: 500;
    font-size: 14px;
    color: #0e0707;
    text-align: justify;
    letter-spacing: 2px;
    
}

.event-request {
    text-align: center;
    font-family: "Exo", sans-serif;
    font-size: 22px;
    font-weight: 600;
    letter-spacing: 2px;
    padding-left: 20px;
}

/*------------------------------Home*/

.member-photo {
    padding-top: 20px;
    padding-left: 30px;
    padding-bottom: 20px;
    min-height:  100px;
}

.member-description {
    padding: 20px 30px;
    height: 190px;
    vertical-align: middle;
    
}

p {
    vertical-align: middle;
}



p .center {
  text-align: center;  
   
}

/*------------------------------Events*/

.request {
    padding: 20px 25px;
}

.event-list {
    text-align: center;
}

.invia {
    text-align: center;
    padding-top: 25px;
}

.condition {
    padding-top: 30px;
    text-align: center;
    vertical-align: bottom;
    font-size: 8px;
    font-weight: 200;
    font-family: "Exo", sans-serif;
    letter-spacing: 1.5px;
}

.title-events {
    font-size: 30px;
    font-family: "Exo", sans-serif;
    font-weight: 800;
    text-align: center;
    letter-spacing: 1.5px;
    padding-top: 20px;
    padding-bottom: 15px;
}

/*------------------------------hover*/

.video {
    text-align: center;
    padding-top: 30px;
    padding-bottom: 20px;
}

.video-title {
    padding-top: 35px;
    font-size: 30px;
    font-weight: 800;
    letter-spacing: 2px;
    font-family: "Exo" , sans-serif;
    text-align: center;
}