@import url('https://fonts.googleapis.com/css?family=Roboto:100,200,300,400,500,600,700,800,900|Exo:100,200,300,400,500,600,700,800,900|Neucha:100,200,300,400,500,600,700,800,900');

/*------------------------------General Settings*/
.reset-base {
    padding: 0;
    margin: 0;
}

.max-size {
    height: 100%;
    width: 100%;
}

/*--------------------Section General Settings*/

.section-text {
    color: black;
    font-family: "Exo", sans-serif;
    font-weight: 300;
    letter-spacing: 2px;
}



/*------------------------------Header*/

.logo-home {
    height: 240px;
    background-image: url("../assets/images/logo-home.jpg");
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;

}

.link-logo {
    display: inline-block;
    height: 240px;
    width: 100%;
}

.menu-text {
    
    color: white;
    font-weight: 800;
    letter-spacing: 2px;
    font-family: "Exo", sans-serif;
    text-align: center;
    height: 60px;
    padding-top: 15px;
}

.menu-link {
    display: inline-block;
    height: 60px;
    width: 100%;
}

.hover-menu:hover {
    background: #ef8821;
    transition: 0.5s;
    color: black;
}

.uppercase {
    text-transform: uppercase;
}

/*--------------------Menu-background*/

.background-1{
    background-color: #2c2d2d;
}

.background-2 {
    background-color: #383a3a;
}

.background-3 {
    background-color: #4a4f4f;
}

.background-4 {
    background-color: #596060;
}

.bgsong1 {
    background-color: #afb1b5;
}

.bgsong2 {
    background-color: #97999e;
}

/*-------------------Footer*/

footer {
    min-height: 120px;
    color:#fafafa;
    background-color: #383a3a;
    font-family: "Exo", sans-serif;
    font-weight: 600;
}

.social-links {
    width: 35px;
    height: 35px;
    padding-top: 12px;
    border-radius: 50%;
    text-align: center;
    transition: all 0.35s ease-in-out;
    -moz-transition: all 0.35s ease-in-out;
    -webkit-transition: all 0.35s ease-in-out;
    -o-transition: all 0.35s ease-in-out;
}

.text-distance {
    padding-top: 15px;
    margin: 0;
}

/*--------------------Video*/



.video-title {
    padding-top: 15px;
}


.videos-background {
    background-color: #cfd1d3;
}

.set-carousel-padding {
    padding: 25px 0px 35px;
}

.box-video {
 min-height: 350px;
 padding-top: 30px;    
}

.padding-text-videopage {
    padding-top: 35px;
}
/*--------------------Form-Modal */

.button-setting {
    padding-top: 10px;
    padding-bottom: 30px;
}

.condition {
    padding-top: 30px;
    text-align: center;
    vertical-align: bottom;
    font-size: 8px;
    font-weight: 200;
    font-family: "Exo", sans-serif;
    letter-spacing: 1.5px;
}






/*--------------------Media*/

@media(min-width: 992px) {
.section-column {
    padding: 0px 0px 0px;
    float: left;
    display: table-cell; 
}
}

/*--------------------Members setting*/

.height-setting {
    height: 120px;
    padding-top: 5px;
    padding-left: 2px;
}

.member-1 {
    background-image: url("../assets/images/dj.jpg");
    background-repeat: no-repeat;
    background-size: contain;
    
}

.setting-description {
    display: inline-block;
    height: 100%;
    width: 100%;
}

.vertical-center {
    display: inline-block;
    vertical-align: middle;
    float: none;
}

/*------------------------------track*/
.track-audio {
    text-align: center;
    padding-top: 30px;
}

.song-name {
    font-size: 25px;
    font-weight: 500;
    font-family: "Exo" , sans-serif;
    text-align: center;
    padding-top: 15px;
    letter-spacing: 1.5px;
}